x64/
DeviceIoControl/x64/
DeviceIoControl/DeviceIoControl/x64/

DeltaForceClient-Win64-Shipping.exe
Release.7z

*.vcxproj.user
*.sln.DotSettings.user
*.log
*.tlog/
*.obj
*.ilk
*.pdb
*.iobj
*.ipdb
*.recipe
*.lastbuildstate
*.7z
unsuccessfulbuild
vc143.idb
vc143.pdb
.vs/